:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}
  
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 21, 21);
    color: white;
    font-family: 'Raleway';
    font-size: 22px;
}

body {
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

h1{
    font-size:60px
}

.underTitle{
    font-size:20px
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    appearance: none;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    line-height: 1;
    padding: 1em 1.5em;
    position: relative;
    transition: filter var(--motion-duration);
    margin:5px
}
  
  button:hover {
    filter: brightness(1.1);
  }
  
  button:active {
    filter: brightness(0.9);
  }
  
  button > span {
    display: block;
    position: relative;
    transition: transform var(--motion-duration) var(--motion-ease);
    z-index: 1;
  }
  
  button:hover > span {
    transform: scale(1.05);
  }
  
  button:active > span {
    transform: scale(0.95);
  }
  
  button > svg {
    fill: #9f3812;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
  }
  
  button > svg > path {
    transition: var(--motion-duration) var(--motion-ease);
  }
  
  button:hover > svg > path {
    d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
  }
  
  button:active > svg > path {
    d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
  }  

  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  #tip {
    opacity: 0;
    transition: all .75s ease;
  }
  
  #tip.show {
    opacity: 1;
  }